.github/settings.yml    @shopsmart/tech-ops-team

# For non-template repos:
# Replace this with the team that owns this repo
# Everything must be go through the web team
# *          @shopsmart/web-team
