#!/usr/bin/env bash
# Application specific environment variables

# shellcheck disable=SC2034
# https://github.com/koalaman/shellcheck/wiki/SC2034
# These variables are injected into the environment
#   and not necessarily used within this file
