#!/usr/bin/env bash

# Load parent environments
source_up

# Install the pre-commit if not installed
if [ -f .pre-commit-config.yaml ] && [ ! -f .git/hooks/pre-commit ]; then
  pre-commit install
fi

# Load the .env file
[ -f .env ] || cp .env.example .env
dotenv

# Setup for go
layout_go
export GO111MODULE=on # We use go mod
